/* ========================================== 11. CONTENU PAGE ABOUT ========================================== */

.about-text-content {
    width: 65%;
    font-size: 14px;
    line-height: 1.3;
    color: var(--neutral-dark);
    transition: color 0.8s ease;
    display: flex;
    flex-direction: column;
}

.intro-greeting {
    font-weight: 600;
}


.about-text-content p {
    margin-bottom: 12px;
    transition: color 0.8s ease;
}

.about-text-content .intro-greeting {
    text-indent: 24px;
}

.about-text-content p:last-of-type {
    margin-bottom: var(--space-32);
}

.section-title {
    line-height: 1;
    margin-bottom: 4px;
}

.skills-section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: fit-content;
}

.skills-list p {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    margin: 0;
}

.skills-list .section-title {
    margin-top: 0;
    margin-bottom: 4px;
}

@media (min-width: 901px) {
    .about-text-content {
        min-width: 430px;
    }
}
